// Place all the styles related to the Dashboars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.total-box {
  text-align: center;
  font-size: 24px;

  span {
    display: block;
    color: #bbb;
    font-size: 12px;
  }
}

.panel-heading { padding: 15px 20px; }
